.datatable-main{
    width:90%;
    margin:auto;
    ul{
        margin-bottom:0.5em;
        &.header{
            list-style:none;
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content: flex-start;
            li{
                width: 33.3333%;
                padding: 1.2em 1em;
                text-align: left;
                white-space: nowrap;
                font-size: 10px;
                font-weight: bolder;
                background-color: #eff8fb;
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative;
                &:first-child{
                    border-radius:4px 0 0 4px;
                    padding-left: 45px;
                }
                &:last-child{
                    border-radius: 0 4px 4px 0;
                }
                &:nth-child(odd){
                    background-color:#325575;
                    color:#eff8fb
                }
            }
        }
    }
    .body{
        ul{
            list-style:none;
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content: flex-start;
            li{
                width: 33.3333%;
                padding: 2em 1em;
                text-align: left;
                white-space: nowrap;
                font-size: 10px;
                font-weight: bolder;
                background-color: #eff8fb;
                text-overflow: ellipsis;
                overflow: hidden;
                position: relative;
                &:first-child{
                    border-radius:4px 0 0 4px;
                    padding-left: 45px;
                }
                &:last-child{
                    border-radius: 0 4px 4px 0;
                    color:#325575
                }
                &:nth-child(odd){
                    background-color:#fff;
                }
                span{
                    &.check{
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        vertical-align: top;
                        border-radius: 50%;
                        border: 1px solid #325575;
                        display: inline-block;
                        left: 7px;
                        top: 10px;
                        .dot{
                            visibility:hidden;
                            width: 24px;
                            height: 24px;
                            position: relative;
                            background-color: #325575;
                            border-radius: 50%;
                            display: inline-block;
                            left: 3px;
                            top: 3px;
                        }
                    }
                    &.arrow{
                        position: absolute;
                        font-size:32px;
                        vertical-align: middle;
                        display: inline-block;
                        right:7px;
                        top:10px;
                        .col{
                            display:none;
                        }
                    }
                }
            }
            &.active {
                box-shadow:0 3px 5px rgba(0,0,0,0.6);
                li{
                    span{
                        &.check{
                            .dot{
                                visibility: visible;
                            }
                        }
                        &.arrow{                           
                            transform: rotate(90deg);
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}