<ion-content>
  <ion-header>
    <ion-toolbar>
      <img src="/assets/logo.svg" alt="medprevent" />
    </ion-toolbar>
  </ion-header>
  <h1 class="title text-clr">Organisatie <span class="header-img"><img src="/assets/tab-icon-1.svg" /></span>
  </h1>
  <div class="datatable-main">
    <ul class="header">
      <li>Vragenlijst</li>
      <li>Org. Eenheid</li>
      <li>Onderdeel van</li>
      <li>Status</li>
      <li>Datum PvA</li>
      <li>Actief</li>
    </ul>
    <div class="body">
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
      <ul>
        <li>Belied + Gebouw</li>
        <li>Doetinchem - Station</li>
        <li>Regio Oost</li>
        <li>Afgerond</li>
        <li>10-08-2019</li>
        <li>Actief</li>
      </ul>
    </div>
  </div>
</ion-content>