<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<img src="/assets/login-icon.svg" class="absolute-img" />
<ion-content>
  <ion-card class="login">
    <ion-card-header>
      <ion-card-title><img src="/assets/logo.svg" class="logo" alt="logo" /></ion-card-title>
      <ion-grid align-items-center class="tab-grid">
        <ion-row>
          <ion-col class="active">
            Log In
          </ion-col>
          <ion-col>
            Inschrijven
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <h1 class="text-clr text-center">Welkom</h1>
      <form>
        <input type="text" placeholder="E-mailadres" />
        <input type="password" placeholder="Wachtwoord" />
        <button type="submit">LOG IN</button>
        <h6 class="p-y-1"><span class="text-clr">Wachtwoord vergeten</span></h6>
      </form>
      <hr />
      <ul class="socialLogin">
        <li><a href="#"><img src="/assets/FB.svg" /></a></li>
        <li><a href="#"><img src="/assets/Twitter.svg" /></a></li>
        <li><a href="#"><img src="/assets/Mail.svg" /></a></li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
</ion-content>