<ion-content>
  <div class="back">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <ion-card class="login">
    <ion-card-header>
      <ion-card-title><img src="/assets/logo.svg" class="logo" alt="logo" /></ion-card-title>
      <h1 class="text-clr text-center" style="font-size:2.5em">Profiel</h1>
    </ion-card-header>

    <ion-card-content>
      <div class="profile">
        <img src="/assets/logo.svg" />
        <span class="hint">UPLOADEN</span>
      </div>
      <ul>
        <ul class="profile-details">
          <li>E-mailadres<a href="#">
              <ion-icon name="link"></ion-icon>
            </a></li>
          <li>Wachtwoord<a href="#">
              <ion-icon name="link"></ion-icon>
            </a></li>
          <li>Mobiel nummer<a href="#">
              <ion-icon name="link"></ion-icon>
            </a></li>
        </ul>
      </ul>
      <button>UITLOGGEN</button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="1">
      <ion-label><img src="/assets/tab-icon-1.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="2">
      <ion-label><img src="/assets/tab-icon-2.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="3">
      <ion-label><img src="/assets/tab-icon-3.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="4">
      <ion-label><img src="/assets/tab-icon-4.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="5">
      <ion-label><img src="/assets/tab-icon-1.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="6">
      <ion-label><img src="/assets/tab-icon-1.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="7">
      <ion-label><img src="/assets/tab-icon-2.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="8">
      <ion-label><img src="/assets/tab-icon-3.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="9">
      <ion-label><img src="/assets/tab-icon-4.svg" /></ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>